@font-face {
    font-family: "AZPPT_1_1436212_19";
    src: url("AZhuPaoPaoTi.eot"); /* IE9 */
    src: url("AZhuPaoPaoTi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("AZhuPaoPaoTi.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("AZhuPaoPaoTi.woff") format("woff"), /* chrome, firefox */
    url("AZhuPaoPaoTi.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("AZhuPaoPaoTi.svg#AZPPT_1_1436212_19") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


