:root {
	--color-bg-white: #fbfbfb;
	--color-bg-black: #282828;
	--color-white: #eee;
	--color-black: #111;
}

::selection {
	background: transparent;
}

.dark-theme body {
	color: var(--color-white);
}

.dark-theme header,
.dark-theme #main,
.dark-theme #nav {
	background-color: var(--color-bg-black);
}

.dark-theme header {
	box-shadow: 0px 3px 5px rgba(255, 255, 255, 16%);
}

.dark-theme #nav {
	box-shadow: -3px 0 5px rgba(255, 255, 255, 16%);
}

body {
	margin: 0;
	cursor: default;
	color: var(--color-black);
}

.selected {
	border-radius: 50%;
	background-color: #c449f5aa;
}

.show {
	display: initial;
}

.hide {
	display: none;
}

.not-visible {
	visibility: hidden;
}

.modal {
	position: absolute;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-white);
}

.modal-window {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50vw;
	height: 30vh;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	color: #c449f5;
	transform: translate(-50%, -50%);
}

.keyboard-nav-guide {
	position: absolute;
	z-index: 998;
	width: 100vw;
	height: 100vh;
	background-color: #00000099;
}

.keyboard-nav-guide-window {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 30px 30px;
	border-radius: 32px;
	width: 30vw;
	background-color: #00000099;
	line-height: 1.5em;
	font-size: 24px;
	transform: translate(-50%, -50%);
}

.keyboard-nav-guide-window h2 {
	margin-bottom: 40px;
	font-weight: bold;
	color: var(--color-white);
}

.keyboard-nav-guide-window p {
	margin: 0;
	line-height: 2;
	font-size: 20px;
	color: #c449f5;
}

/*header*/
header {
	overflow: hidden;
	position: relative;
	z-index: 3;
	height: 100px;
	background-color: var(--color-bg-white);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 16%);
}

.container {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 24px;
	width: calc(100% - 48px);
	height: calc(100% - 40px);
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 202px;
}

.above-container {
	display: flex;
}

.page-logo img {
	vertical-align: middle;
}

.page-title {
	margin-left: 8px;
	line-height: 1;
	font-size: 30px;
}

.below-container {
	margin-top: 8px;
}

.page-subtitle {
	margin-left: 22px;
	font-size: 14px;
	word-spacing: 8px;
}

.dark-toggle {
	display: flex;
	align-items: center;
	width: 30px;
	cursor: pointer;
}

.dark-toggle img {
	display: inline-block;
}

/*main*/
main {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 100px);
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	background-color: var(--color-bg-white);
}

.widget-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1500px;
}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 60px 0;
}

.pagination-btn {
	margin-left: 20px;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	background: #fff;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 20%);
	cursor: pointer;
	text-align: center;
	color: blue;
}

.current {
	background-color: #c449f5;
	color: white;
}

.pagination-btn span {
	line-height: 40px;
}

.pagination-btn:first-child,
.pagination-btn:last-child {
	display: flex;
}

.pagination-btn:first-child img,
.pagination-btn:last-child img {
	display: block;
	margin: auto;
}

.pagination-btn:first-child img {
	transform: rotate(-90deg);
}

.pagination-btn:last-child img {
	transform: rotate(90deg);
}

/*aside-nav*/
#nav {
	position: relative;
	z-index: 2;
	width: 170px;
	background-color: var(--color-bg-white);
	box-shadow: -3px 0 5px rgba(0, 0, 0, 16%);
}

.nav-list {
	margin-top: 50px;
}

.nav-title,
.nav-item {
	text-align: center;
}

.nav-title {
	font-size: 24px;
}

.nav-item {
	display: flex;
	align-items: center;
	margin: 20px auto 0;
	width: 5em;
	height: 2.5em;
	cursor: pointer;
	font-size: 16px;
}

.nav-item span {
	display: inline-block;
	margin: 0 auto;
}

.sleepgif {
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
}