@font-face {
	font-family: AZhuPaoPaoTi;
	src: url('../font/AZhuPaoPaoTi.ttf');
}

@font-face {
	font-family: JustFontFenYuanZiTi-2;
	src: url('../font/JustFontFenYuanZiTi-2.ttf');
}

body {
	font-family: JustFontFenYuanZiTi-2;
	font-size: 1.1em;
}

h1 {
	font-family: AZhuPaoPaoTi;
}

#aside-content #card-toc .toc-content>* {
	margin: 0 0px !important;
}

#page-header #site-title {
	font-size: 4em;
}

@media screen and (min-width: 768px) {
	#page-header #site-subtitle {
		font-size: 1.3em;
	}
}

#nav {
	background-color: rgba(255, 255, 255, 0.8);
}

#nav a {
	color: #858585;
}

#recent-posts>.recent-post-item .post_cover {
	width: 40%;
}

#recent-posts>.recent-post-item>.recent-post-info {
	padding-left: 40px;
	padding-right: 0;
}

@media screen and (max-width: 768px) {
	#recent-posts>.recent-post-item .post_cover {
		width: 100%;
		height: 230px;
	}
}

#pagination .page-number.current {
	background: #c449f5;
}

#nav a:hover {
	color: #c449f5;
}

/* From cssbutton.io by @westitan */
.enter {
	position: relative;
	padding: 10px 20px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	border-radius: 40px;
	border: none;
}

.enter span {
	position: relative;
	color: #fff;
	font-family: Arial;
	letter-spacing: 2px;
	z-index: 1;
}

.enter .liquid {
	position: absolute;
	top: -80px;
	left: 0;
	width: 100%;
	height: 200px;
	background: #c449f5;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
	transition: .5s;
}

.enter .liquid::after,
.enter .liquid::before {
	content: '';
	width: 200%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -75%);
	background: #fff;
}

.enter .liquid::before {
	border-radius: 45%;
	background: rgba(20, 20, 20, 1);
	animation: animate 5s linear infinite;
}

.enter .liquid::after {
	border-radius: 40%;
	background: rgba(20, 20, 20, .5);
	animation: animate 10s linear infinite;
}

.enter:hover .liquid {
	top: -120px;
}

@keyframes animate {
	0% {
		transform: translate(-50%, -75%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -75%) rotate(360deg);
	}
}

/* 修改底部样式 */
#footer::before {
	height: 0;
}

#footer-wrap,
#footer-wrap a {
	color: #535353;
}

#footer-wrap {
	padding: 15px 20px;
}
