/* global style */
@font-face {
    font-family: "roundhand";
    src: url(https://npm.elemecdn.com/ezsttcfs@latest/font/wlybold.woff) format("woff");
}

:root {
    --waline-border: none !important;
    --waline-box-shadow: 0 12px 40px rgb(134 151 168 / 25%) !important;
    --card-bg: rgba(255, 255, 255, 0.8);
}

body {
    font-family: "roundhand", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif;
    font-size: 0.95em;
    font-weight: 200;
    color: #333;
    overflow: hidden auto !important;
    cursor: url(../global-img/cursor_default.webp), auto;
}

a,
#article-container a,
#footer-wrap a {
    color: #006bff;
}

#web_bg_mask {
    position: fixed;
    z-index: -998;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background: #fff7 no-repeat local center;
    background-size: cover;
    animation: to_show, 0.4s;
}

#page-header.nav-fixed #nav {
    background-color: rgba(255, 255, 255, 0.8);
}

#nav a {
    color: #858585;
}

#nav a:hover {
    color: #c449f5;
}

#nav .menus_items .menus_item {
    margin-left: 50px;
}

@media screen and (min-width: 768px) {
    #menus {
        position: relative;
        left: -50%;
        transform: translateX(50%);
    }
}

#pagination .page-number.current {
    border-radius: 50%;
}

#aside-content #card-toc .toc-content .toc-link.active {
    background: #c449f5;
}

#aside-content {
    margin-right: 40px;
}

.card-widget {
    border: 1px solid #ba00ff;
}

#recent-posts > .recent-post-item {
    height: 14em;
}

#recent-posts > .recent-post-item:not(:first-child) {
    margin-top: 30px;
}

#recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap a:hover {
    text-decoration: none;
}

#recent-posts > .recent-post-item {
    justify-content: space-between;
}

#recent-posts > .recent-post-item .post_cover {
    width: 39%;
}

.layout {
    max-width: 1400px;
}

main:has(#page) {
    flex-direction: column;
    justify-content: center;
}

.layout > div:first-child:not(.recent-posts) {
    padding: 24px 40px 50px;
}

#page-header.post-bg::before {
    background-color: transparent;
}

.imgHover,
.error404 #error-wrap .error-content .error-img img,
.article-sort-item-img img,
#recent-posts > .recent-post-item .post_cover img.post_bg,
#aside-content .aside-list > .aside-list-item .thumbnail > img {
    transition: filter 375ms ease-in 0.2s, transform 0.4s;
}

.cardHover,
.error404 #error-wrap .error-content,
.layout > div:first-child:not(.recent-posts),
#recent-posts > .recent-post-item,
#aside-content .card-widget,
.layout > .recent-posts .pagination > :not(.space) {
    border-radius: 1.25em;
}

#post .post-copyright {
    border-radius: 6px;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
    box-shadow: 2px 2px 8px 0 rgba(177, 181, 192, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
}

#post .post-copyright:hover {
    -webkit-box-shadow: 4px 4px 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
    box-shadow: 2px 2px 8px 0 rgba(177, 181, 192, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
}

#post .post-copyright .post-copyright-info a {
    text-decoration: none;
}

#post .tag_share .post-meta__tags {
    border-radius: 0;
}

#post .tag_share .post-meta__tags:hover {
    border-color: #333333;
    background-color: #333333;
    color: #c449f5;
}

#rightside > div > button,
#rightside > div > a {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #898989;
    line-height: 48px;
}

footer {
    margin-top: 40px;
    box-shadow: var(--card-box-shadow);
}

#footer::before {
    height: 0;
}

#footer-wrap {
    color: #535353;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 1400px;
}